* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

image{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.head{
    position: absolute;
    top: 59px;
    left: 250px;
    font-size: 27px;
    z-index: 1;
}

.att{
    position: absolute;
    top: 210px;
    left: 480px;
    font-size: 32px;
    font-weight: 700;
    z-index: 1;
}

.L1{
    position: absolute;
    top: 320px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}

.ell{
    font-size: 12px;
    
}


.lieu{
    position: absolute;
    top: 350px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.m{
    position: absolute;
    top: 395px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.d{
    position: absolute;
    top: 425px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.e{
    position: absolute;
    top: 450px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.af{
    position: absolute;
    top: 530px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.du_au{
    position: absolute;
    top: 560px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.afe{
    position: absolute;
    top: 650px;
    left: 80px;
    font-size: 20px;
    font-weight: 100;
    z-index: 1;

}
.fin{
    position: absolute;
    top: 720px;
    left: 80px;
    font-size: 20px;
    font-weight: 700;
    z-index: 1;

}
/*.L1{
    position: absolute;
    top: 210px;
    left: 480px;
    font-size: 18px;
    font-weight: 100;
    z-index: 1;

}*/
